<footer class="footer">
        <div class="footer-assistance">
            <h4>Asistencia</h4>
            <p><i class="fas fa-question"></i>Preguntas Frecuentes</p>
            <p><i class="fas fa-file-contract"></i>Terminos y condiciones</p>
            <p><i class="fas fa-comments"></i>Sugerencias/Reclamos</p>
        </div>
        <div class="footer-information">
            <h4>Acerca de...</h4>
            <p><i class="far fa-building"></i>Nuestra empresa</p>
        </div>
        <div class="footer-payments">
            <h4>Medios de Pago</h4>
            <p><i class="fas fa-credit-card"></i>Tarjetas</p>
            <p><i class="fas fa-money-bill-wave"></i>Efectivo</p>
            <p><i class="fas fa-handshake"></i>Mercado Pago</p>
        </div>
        <div class="footer-follow">
            <h4>¡Seguinos!</h4>
            <p><i class="fab fa-facebook-square"></i>Facebook</p>
            <p><i class="fab fa-instagram"></i>Instagram</p>
            <p><i class="fab fa-twitter"></i>Twitter</p>
        </div>
    </footer>

        <div class="copyright" align="center">
            <script>
              document.write('&copy;' );
              document.write(' 2021 - ');
              document.write(new Date().getFullYear());
              document.write(' Gaia joyeria - All Rights Reserved.');
            </script>
        </div>