<header class="header">
    <div class="header-first-part">

        <p class="header-sentence">Excelencia en Joyería</p>

        <div class="header-search-bar">
            <form class="search-bar" action="" method="GET">
                <input type="text" name="query" placeholder="Busca un producto...">
                <button class="search-button" type="submit">
                        <i class="fas fa-search"></i>
                </button>
            </form>
        </div>

    </div>

    <div class="header-second-part">

        <img height="100px" src="images/logotipo/logoGaia3.png" alt="logo">
        
        <div class="header-categories">
            <div class="header-category-ring">
                Anillos <i class="fas fa-angle-right"></i>
            </div>
            <div class="header-category-earring">
                Aros <i class="fas fa-angle-right"></i>
            </div>
            <div class="header-category-necklace">
                Collares <i class="fas fa-angle-right"></i>
            </div>
            <div class="header-category-bracelet">
                Pulseras <i class="fas fa-angle-right"></i>
            </div>
        </div>
    
        <div class="header-icons">
            <div class="header-icon"><i class="fas fa-sign-in-alt"></i></div>
            <div class="header-icon"><i class="fas fa-edit"></i></div>
            <div class="header-icon"><i class="fas fa-shopping-cart"></i></div>
        </div>

    </div>
    
  </header>