<article class="product-capsule">
    <div class="product-capsule-image">
        <img src="./images/Captura.PNG" alt="imagen-producto">
    </div>
    <div class="product-capsule-details">
        <h4>Buhos y Lechuzas</h4>
        <p>$1.000</p>
        <button type="submit">¡Lo Quiero!</button>
    </div>
</article>