<article class="product-capsule">
    <div class="product-capsule-image">
        <img src="./images/logotipo/Captura.PNG" alt="imagen-producto">
    </div>
    <div class="product-capsule-details">
        <p class="product-capsule-details-name">Buhos y Lechuzas</p>
        <p class="product-capsule-details-price">$1.000</p>
        <button type="submit">Detalles</button>
    </div>
</article>