<%- include('./partials/head.ejs') %>

<%- include('./partials/header.ejs') %>

<main>
  <div>Acá irá un carrito...</div>
  <section>
    <article>Producto 1</article>
    <article>Producto 2</article>
    <article>Producto 3</article>
  </section>
</main>

<footer></footer>

</html>