<%- include('./partials/head.ejs') %>

<%- include('./partials/header.ejs') %>

<main>
    <form action="" class="register-form">
        <div class="register-form-box">
            <div>
                <label for="">Nombre
                    <input type="text">
                </label>
            </div>
            <div>
                <label for="">Apellido
                    <input type="text">
                </label>
            </div>
            <div>
                <label for="">Avatar
                    <input type="file">
                </label>
            </div>
            <div>
                <label for="">Cumpleaños
                    <input type="date">
                </label>
            </div>
            <div>
                <label for="">Email
                    <input type="email">
                </label>
            </div>
            <div>
                <label for="">Contraseña
                    <input type="text">
                </label>
            </div>
            <div>
                <label for="">Confirmar contraseña
                    <input type="text">
                </label>
            </div>
        </div>
    </form>
</main>

<%- include('./partials/footer.ejs') %>