<%- include('./partials/head.ejs') %>

<%- include('./partials/header.ejs') %>

<main>
    <form action="" class="register-form">
        <div class="register-form-box">
            <div class="register-form-box-text">
                <div class="register-form-label">
                    <label for="">Nombre
                    <input type="text">
                </label>
                </div>
                <div class="register-form-label">
                    <label for="">Apellido
                        <input type="text">
                    </label>
                </div>
                <div class="register-form-label">
                    <label for="">Avatar
                        <input type="file">
                    </label>
                </div>
                <div class="register-form-label">
                    <label for="">Cumpleaños
                        <input type="date">
                    </label>
                </div>
                <div class="register-form-label">
                    <label for="">Email
                        <input type="email">
                    </label>
                </div>
                <div class="register-form-label">
                    <label for="">Contraseña
                        <input type="text">
                    </label>
                </div>
                <div class="register-form-label">
                    <label for="">Confirmar contraseña
                        <input type="text">
                    </label>
                </div>
            </div>
            <div class="register-form-box-img">
                <p>Gracias por formar parte de nuestra comunidad</p>
                <img src="/images/logotipo/register.jpeg" alt="anillos">
            </div>
        </div>
    </form>
</main>

<%- include('./partials/footer.ejs') %>