/* ------ *//* ------- *//* ------ */
/* ------ *//* GENERAL *//* ------ */
/* ------ *//* ------- *//* ------ */

body {
    margin: 0%;
    padding: 0%;
    background-image: url('/images/logotipo/fondo-beige.jpeg');
    background-position: center center;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    box-sizing: content-box;
}

header {
    width: 100%;
}

* {
    font-family: 'Kaisei HarunoUmi', serif;
}

/* ------ *//* ------ *//* ------ */
/* ------ *//* HEADER *//* ------ */
/* ------ *//* ------ *//* ------ */

.header{
    background-color: #e8c39e;
    width: 100%;
    font-size: 10px;
}

.header-first-part{
    width: 100%;
    border-bottom: 3px solid #9e6730;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    column-gap: 1px;
    justify-items: center;
    align-items: center;
}

.header-sentence{
    grid-column-start: 1;
    grid-column-end: 1;
    font-size: 15px;
}

.header-search-bar{
    grid-column-start: 2;
    grid-column-end: 2;
    width: 80%;
}

.search-bar input{
    width: 70%;
}

.search-bar button{
    width: 30px;
}

.header-second-part{
    width: 100%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    column-gap: 5px;
    grid-auto-rows: minmax(100px, auto);
    justify-items: center;
    align-items: center;
    border-bottom: solid 3px #eaccad;
}

.header-second-part img {
    grid-column-start: 1;
    grid-column-end: 1;
    height: 80px;
}

.hamburguer-menu {
    grid-column-start: 2;
    grid-column-end:2;
    background-color: #9e6730;
    border-radius: 20%;
    padding: 5%;
}

.hamburguer-menu i {
    color: #f3dbc3;
    font-size: 20px;
}

.header-categories{
    display: none;
}

.header-icons{
    grid-column-start: 3;
    grid-column-end: 3;
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
}

.header-icon{
    padding: 5%;
}

.header-icon i {
    font-size: 15px;
}

/* ------ *//* ----- *//* ------ */
/* ------ *//* INDEX *//* ------ */
/* ------ *//* ----- *//* ------ */

.index-cart {
    background-color: #ffc1d5;
    border: 2px solid #b5b5b5;
    text-decoration: underline;
    margin: 5%;
}

.initial-questions {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    background-color: #f3dbc3;
    width: 60%;
    margin: auto;
    padding: 3%;
    margin-top: 3%;
    border: solid 2px #804000;
    font-size: 18px;
}

.initial-questions-plan {
    margin: auto;
    text-align: center;
    width: 90%;
}

.initial-questions-plan a {
    font-size: 15px;
    margin: 2%;
    padding: 3%;
    text-decoration: none;
    color: black;
    background-color: #e8c39e;
    border-radius: 10%;
}

.initial-questions-mark {
    margin: auto;
    text-align: center;
    width: 90%;
}

.initial-questions-mark a {
    font-size: 15px;
    padding: 1%;
    margin-bottom: 4%;
    text-decoration: none;
    color: black;
    background-color: #e8c39e;
    border-radius: 10%;
}

.index-division {
    margin: 3%;
}

.index-title {
    margin: auto;
    width: 20%;
}

.index-title p {
    margin: auto;
    font-size: 13px;
    font-weight: bold;
}

.index-products-sections {
    display: flex;
    flex-direction: row;
    background-color: #e8c39e;
    width: 90%;
    margin: auto;
    padding: 1%;
    border: solid 2px #eaccad;
}

.index-gems {
    display: flex;
    flex-direction: row;
    width: 70%;
    margin: auto;
    background-color: #f3dbc3;
    border: 2px solid #eaccad;
}

.index-gems img {
    display: block;
    width: 40%;
    padding: 2%;
}

.index-gems-text {
    width: 60%;
    padding: 2%;
    display: flex;
    flex-direction: column;
    font-size: 13px;
}

.index-gems-text-question {
    margin: auto;
    width: 100%;
    text-align: center;
    margin: 2%;
}

.index-gems-text-title {
    margin: auto;
    width: 100%;
    text-align: center;
    font-weight: bold;
}

.index-gems-text-links {
    margin: auto;
    width: 80%;
    text-align: center;
    display: flex;
    flex-direction: row;
}

.index-gems-text-links a {
    margin: auto;
    text-align: center;
    text-decoration: none;
    color: black;
    background-color: #e8c39e;
    padding: 2%;
    border-radius: 20%;
}

.index-all-sections {
    background-color: #e8c39e;
    margin-top: 3%;
    border: solid 2px #eaccad ;
}

.index-all-sections-title {
    margin: 2%;
    text-align: center;
}

.index-all-sections-products {
    display: flex;
    flex-direction: row;
}

.index-all-sections article {
    width: 21%;
    padding: 2%;
}

.index-all-sections article img {
    width: 100%;
}

.index-all-sections article p {
    margin: auto;
    text-align: center;
}

/* ------ *//* ------ *//* ------- *//* ----- */
/* ------ *//*  CAPSULA PRODUCTO  *//* ------ */
/* ------ *//* ------ *//* ------ *//* ----- */

.product-capsule {
    background-color: #f3dbc3;
    width: 20%;
    padding: 2%;
    margin: 1%;
    display: flex;
    flex-direction: column;
    border-radius: 10%;
    border: solid 2px #eaccad;
}

.product-capsule-image img {
    display: block;
    width: 100%;
    border-radius: 10%;
    border: solid 2px #9e6730;
}

.product-capsule-details {
    display: flex;
    flex-direction: column;
    width: 100%;
    text-align: center;
}

.product-capsule-details-name{
    margin: 1%;
    font-size: 15px;
    font-weight: bold;
}

.product-capsule-details-price{
    margin: 1%;
    font-size: 15px;
}

.product-capsule-details button {
    margin: 2%;
    padding: 2%;
    height: 30%;
}

/* ------ *//* -------- *//* ------ */
/* ------ *//* REGISTER *//* ------ */
/* ------ *//* -------- *//* ------ */

.register-form {
    width: 70%;
    margin: auto;
    text-align: center;
    padding-top: 20%;
    padding-bottom: 20%;
}

.register-form-box {
    background-color: #eaccad;
    border: 5px solid #f3dbc3;
    padding: 10%;
    border-radius: 2%;
}

.register-form-label {
    font-size: 15px;
    width: 90%;
    margin: auto;
}

.register-form-label label {
    display: flex;
    flex-direction: column;
    padding-top: 5%;
    padding-bottom: 5%;
}

.register-form-label label input {
    margin-top: 2%;
    background-color: #f3dbc3;
    border: 2px solid #9e6730;
}

.register-form-box-img {
    display: none;
}

/* ------ *//* ------ *//* ------ */
/* ------ *//* FOOTER *//* ------ */
/* ------ *//* ------ *//* ------ */

.footer {
    padding-left: 5%;
    background-color: #9e6730;
    display: grid;
    grid-template-columns: repeat(2, 50%);
    grid-template-rows: repeat(2, 50%);
    column-gap: 1%;
    row-gap: 1px;
    font-size: 12px;
}

.footer i {
    padding: 3%;
}

.copyright{
    background-color: #804000;
    padding: 1%;
    font-size: 13px;
}

/* ------ *//* ---------- *//* ------ */
/* ------ *//* RESPONSIVE *//* ------ */
/* ------ *//* ---------- *//* ------ */

/* TABLET */

@media (min-width: 481px) {
    .header {
        font-size: 15px;
    }

    .index-title p {
        font-size: 16px;
    }

    .index-gems-text {
        font-size: 17px;
    }

    .index-all-sections-title {
        font-size: 18px;
    }
}

/* DESKTOPS */

@media (min-width: 769px) {

    /* HEADER */

    .header {
        font-size: 18px;
        width: 100%;
    }

    .search-bar input {
        width: 50%;
    }

    .hamburguer-menu {
        display: none;
    }

    .header-first-part {
        padding: 1%;
    }

    .header-second-part img {
        height: 110px;
    }

    .header-second-part{
        width: 100%;
        padding: 1%;
        display: grid;
        grid-template-columns: repeat(6, 1fr);
        column-gap: 5px;
        grid-auto-rows: minmax(100px, auto);
        justify-items: center;
        align-items: center;
        border-bottom: solid 3px #eaccad;
    }

    .header-categories{
        grid-column-start: 2;
        grid-column-end: 5;
        display: inline-grid;
        grid-template-columns: repeat(4, 1fr);
        column-gap: 5px;
        grid-auto-rows: minmax(100px, auto);
        align-items: center;
        justify-items: center;
        width: 100%;
    }
    
    .header-category-ring{
        grid-column-start: 1;
        grid-column-end: 1;
    }
    
    .header-category-earring{
        grid-column-start: 2;
        grid-column-end: 2;
    }

    .header-category-necklace{
        grid-column-start: 3;
        grid-column-end: 3;
    }

    .header-category-bracelet{
        grid-column-start: 4;
        grid-column-end: 4;
    }

    .header-icons{
        grid-column-start: 6;
        grid-column-end: 6;
        display: flex;
        flex-direction: row;
        justify-content: start;
        width: 100%;
    }

    .header-icon i {
        font-size: 22px;
    }

    /* INDEX */

    .initial-questions {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        width: 80%;
        border: solid 2px #804000;
        font-size: 20px;
    }

    .initial-questions-plan p {
        margin-bottom: 4%;
    }
    
    .initial-questions-plan a {
        font-size: 18px;
        padding: 2%;
    }

    .initial-questions-mark p {
        margin-bottom: 4%;
    }
    
    .initial-questions-mark a {
        font-size: 18px;
        padding: 1%;
        margin: 2%;
    }

    .index-title p {
        font-size: 25px;
    }

    .index-division {
        margin-left: 15%;
        margin-right: 15%;
    }

    .product-capsule-details-name {
        font-size: 18px;
    }

    .product-capsule-details-price {
        font-size: 18px;
    }

    .index-gems {
        width: 40%;
    }

    .index-gems-text {
        font-size: 20px;    
    }

    .index-all-sections {
        font-size: 25px;
        border: 7px solid #f3dbc3;
    }

    .index-all-sections-products article {
        width: 15%;
        margin: auto;
    }

    .index-all-sections-products article p {
        display: none;
    }

    .index-all-sections-products article img {
        border: 5px solid #f3dbc3;
    }

    /* FOOTER */

    .footer {
        background-color: #9e6730;
        display: flex;
        flex-direction: row;
        justify-content: space-around;
    }

    .footer div {
        font-size: 18px;
    }

    .footer div p {
        font-size: 15px;
    }

    /* REGISTER */

    .register-form {
        width: 50%;
        padding-top: 10%;
        padding-bottom: 10%;
        font-size: 18px;
    }

    .register-form-box {
        display: flex;
        padding: 3%;
    }

    .register-form-box-text {
        width: 50%;
        border-right: solid 1px #9e6730;
    }

    .register-form-label {
        font-size: 18px;
    }

    .register-form-box-img {
        display: flex;
        flex-direction: column;
        justify-content: center;
        width: 50%;
        padding-left: 3%;
    }

    .register-form-box-img img {
        width: 95%;
    }

    .register-form-box-img p {
        background-color: #f3dbc3;
        border: 2px solid #9e6730;
    }

}

/* DESKTOPS+ */

@media (min-width: 1280px) {

    /* INDEX */

    .index-division {
        margin-left: 20%;
        margin-right: 20%;
    }

    .index-gems {
        width: 30%;
    }

    /* FOOTER */

    .footer div {
        padding: 1%;
    }

}