/* ------ *//* ------- *//* ------ */
/* ------ *//* GENERAL *//* ------ */
/* ------ *//* ------- *//* ------ */

body {
    margin: 0%;
    padding: 0%;
}

* {
    font-family: 'Kaisei HarunoUmi', serif;
}

/* ------ *//* ------ *//* ------ */
/* ------ *//* HEADER *//* ------ */
/* ------ *//* ------ *//* ------ */

.header{
    background-color: #b5b5b5;
}

.header-first-part{
    width: 100%;
    border-bottom: 3px solid #8c8c8c;
    display: inline-grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 90%;
    column-gap: 5px;
    grid-auto-rows: minmax(100px, auto);
    justify-items: center;
    align-items: center;
}

.header-sentence{
    grid-column-start: 1;
    grid-column-end: 1;
}

.header-search-bar{
    grid-column-start: 2;
    grid-column-end: 2;
}

.header-second-part{
    width: 100%;
    display: inline-grid;
    grid-template-columns: repeat(6, 1fr);
    column-gap: 5px;
    grid-auto-rows: minmax(100px, auto);
    justify-items: center;
    align-items: center;
}

.header-categories{
    grid-column-start: 3;
    grid-column-end: 5;
    display: inline-grid;
    grid-template-columns: repeat(4, 1fr);
    column-gap: 5px;
    grid-auto-rows: minmax(100px, auto);
    align-items: center;
    justify-items: center;
    width: 100%;
}

.header-category-ring{
    grid-column-start: 1;
    grid-column-end: 1;
}

.header-category-earring{
    grid-column-start: 2;
    grid-column-end: 2;
}

.header-category-necklace{
    grid-column-start: 3;
    grid-column-end: 3;
}

.header-category-bracelet{
    grid-column-start: 4;
    grid-column-end: 4;
}

.header-icons{
    grid-column-start: 6;
    grid-column-end: 6;
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
}

.header-icon{
    padding: 7%;
}

/* ------ *//* ----- *//* ------ */
/* ------ *//* INDEX *//* ------ */
/* ------ *//* ----- *//* ------ */

.index-cart {
    background-color: #ffc1d5;
    width: 100%;
    margin: 20px;
    border: 2px solid #b5b5b5;
    text-decoration: underline;
}

.index-division {
    margin: 3%;
}

.index-title {
    margin: auto;
    padding: 1%;
    width: 20%;
}

.index-title h2 {
    margin: auto;
    width: 70%;
}

.index-products-sections {
    display: flex;
    flex-direction: row;
    background-color: #f4e7d5;
    width: 90%;
    margin: auto;
}

.index-gems {
    display: flex;
    flex-direction: row;
    width: 50%;
    margin: auto;
    background-color: #f4e7d5;
}

.index-gems img {
    display: block;
    width: 40%;
    padding: 2%;
}

.index-gems-text {
    width: 60%;
    padding: 2%;
    display: flex;
    flex-direction: column;
}

.index-gems-text p {
    margin: auto;
}

.index-gems-text h4 {
    margin: auto;
}

.index-gems-text a {
    margin: auto;
}

.index-all-sections {
    display: flex;
    flex-direction: row;
    background-color: #f4e7d5;
    margin-top: 3%;
}

.index-all-sections img {
    padding: 2%;
}

/* ------ *//* ------ *//* ------- *//* ----- */
/* ------ *//*  CAPSULA PRODUCTO  *//* ------ */
/* ------ *//* ------ *//* ------ *//* ----- */

.product-capsule {
    background-color: #b5b5b5;
    width: 20%;
    padding: 1%;
    margin: 1%;
    display: flex;
    flex-direction: column;
}

.product-capsule-image img {
    display: block;
    width: 100%;
}

.product-capsule-details {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.product-capsule-details h4{
    margin: 1%;
}

.product-capsule-details p{
    margin: 1%;
}

.product-capsule-details button {
    margin: 2%;
    padding: 2%;
}